body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(242, 249, 255);
}

a {
  color: #00B7FF;
  margin: 0;
  padding: 0;
}

ul{
  padding: 0;
  margin: 0;
}

.header, footer{
  margin: 0;
  padding: 0;
  background-color: rgb(49, 49, 153);
  color: white;
  height: 15vh;
}
